/***** ADMIN *****/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: #000;
  font-family: Arial;
  font-size: 12px; }

.adminContent {
  padding: 5px 10px; }
  .adminContent h2 {
    padding: 5px; }
  .adminContent ul {
    padding: 0; }
    .adminContent ul li {
      display: block; }
  .adminContent p {
    padding: 2px 5px; }
  .adminContent .events {
    display: inline-block; }
  .adminContent .config {
    display: inline-block; }
  .adminContent .adminForm input, .adminContent .adminForm select, .adminContent .adminForm textarea {
    margin: 5px;
    padding: 2px 3px; }
  .adminContent .adminForm textarea {
    height: 50px;
    width: 90%; }
  .adminContent .adminForm .dateentry {
    width: 70px; }
  .adminContent .adminForm #eventList table {
    margin: 10px 0;
    width: 500px; }

.bordered {
  border: solid #ccc 1px;
  *border-collapse: collapse;
  border-spacing: 0;
  border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 1px 1px #cccccc;
  -o-box-shadow: 0 1px 1px #cccccc;
  -moz-box-shadow: 0 1px 1px #cccccc;
  -webkit-box-shadow: 0 1px 1px #cccccc; }
  .bordered tr:nth-child(even) {
    background: #f5f5f5;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset; }
  .bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left; }
    .bordered td:first-child, .bordered th:first-child {
      border-left: none; }
  .bordered th {
    background: #eeeeee;
    background-image: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background-image: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background-image: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    border-top: none;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset; }
    .bordered th:first-child {
      border-radius: 6px 0 0 0;
      -o-border-radius: 6px 0 0 0;
      -moz-border-radius: 6px 0 0 0;
      -webkit-border-radius: 6px 0 0 0; }
    .bordered th:last-child {
      border-radius: 0 6px 0 0;
      -o-border-radius: 0 6px 0 0;
      -moz-border-radius: 0 6px 0 0;
      -webkit-border-radius: 0 6px 0 0; }
    .bordered th:only-child {
      border-radius: 6px 6px 0 0;
      -o-border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0;
      -webkit-border-radius: 6px 6px 0 0; }
  .bordered td {
    padding: 3px 5px; }
  .bordered tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
    -o-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px; }
  .bordered tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
    -o-border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0; }

.ui-button {
  margin: 1px; }
