
@import "_mixins.scss";

/***** ADMIN *****/
* {
	margin:0;
	padding:0;
}
body {
	background-color:#fff;
	color:#000;
	font-family:Arial;
	font-size:12px;
}
.adminForm {
	input, select, textarea {
		margin:5px;
		padding:2px 3px;
	}
	textarea {
		height: 50px;
		width: 90%;
	}
	.dateentry { width: 70px; }
	#eventList table {
		margin: 10px 0;
		width: 500px;
	}
}

.adminContent {
	padding:5px 10px;
	h2 {
		padding:5px;
	}
	ul {
		padding: 0;
		li {
			display: block;
		}
	}
	p {
		padding:2px 5px;
	}
	.events {
		display: inline-block;
	}
	.config {
		display: inline-block;
		float: right;
	}
}
.bordered {
	border:solid #ccc 1px;
	*border-collapse: collapse;
	border-spacing: 0;
	@include rounded-corners(6px);
	@include shadows(0 1px 1px #ccc);

	tr:nth-child(even) {
		background: #f5f5f5;
		@include shadows(0 1px 0 rgba(255,255,255,.8) inset);
	}
	td, th {
		border-left:1px solid #ccc;
		border-top:1px solid #ccc;
		padding: 10px;
		text-align:left;
		&:first-child {
			border-left:none;
		}
	}
	th {
		background:#eeeeee;
		@include background-gradients(top, #eeeeee 0%, #cccccc 100%);
		border-top: none;
		padding:10px;
		text-shadow:0 1px 0 rgba(255,255,255,.5);
		@include shadows(0 1px 0 rgba(255,255,255,.8) inset);
		&:first-child {	@include rounded-corners(6px 0 0 0); }
		&:last-child {	@include rounded-corners(0 6px 0 0); }
		&:only-child {	@include rounded-corners(6px 6px 0 0); }
	}
	td {
		padding: 3px 5px;
	}
	tr:last-child {
		td:first-child { @include rounded-corners(0 0 0 6px); }
		td:last-child {	@include rounded-corners(0 0 6px 0); }
	}
}

.ui-button {
	margin: 1px;
}
