/*** mixins ***/
@mixin rounded-corners ($radius: 5px) {
	border-radius: $radius;
	-o-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin shadows ($shadow: inset 1px 1px 0 rgba(255,255,255,0.5)) {
	box-shadow: $shadow;
	-o-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
}

@mixin transitions ($duration: 0.5s) {
	transition: $duration;
	-o-transition: $duration;
	-ms-transition: $duration;
	-moz-transition: $duration;
	-webkit-transition: $duration;
}

@mixin background-gradients($pos: top, $from: #eee, $to: #ccc) {
	background-image:linear-gradient($pos, $from, $to);
	background-image:-o-linear-gradient($pos, $from, $to);
	background-image:-ms-linear-gradient($pos, $from, $to);
	background-image:-moz-linear-gradient($pos, $from, $to);
	background-image:-webkit-linear-gradient($pos, $from, $to);
}

@mixin background-clips($clip: padding-box) {
	background-clip: $clip;
	-o-background-clip: $clip;
	-moz-background-clip: $clip;
	-webkit-background-clip: $clip;
}

@mixin box-sizings($sizing: border-box) {
	box-sizing: $sizing;
	-o-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
}

/***** GENERAL *****/
* {
	margin:0;
	padding:0;
}
body {
	background-color:#fff;
	color:#000;
	font-family:Arial;
	font-size:12px;
}
a {
	color:#000;
	outline:none;
	text-decoration:none;
	@include transitions(0.5s);
	&:hover, &.selected { color:#06a; }
}
blockquote {
	display:block;
	font-size:17px;
	font-style:italic;
	line-height:24px;
	margin-left:5%;
	quotes:"\201C" "\201D";
	width:90%;
	&:before, &:after {
		color:#999;
		display:block;
		font-size:400%;
	}
	&:before {
		content:open-quote;
		margin-left:-5%;
		position:relative;
		top:15px;
	}
	&:after {
		content:close-quote;
		margin-left:100%;
		position:relative;
		right:5px;
		top:15px;
	}
}
h1 {
	margin-bottom:5px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.9);
}
input {
	width: 350px;
}
table {
	*border-collapse: collapse;
	border-spacing: 0;
	td {
		border: none;
	}
}


/***** PAGE *****/
#page {
	overflow:hidden;
	position:absolute;
	height:100%;
	width:100%;
}

/***** TIMELINE *****/
$wrapperheight: 300px;
#wrapper {
	bottom:0;
	height: 100%;
	left:0;
	overflow:auto;
	position:absolute;
	top:80px;
	width:100%;
	z-index:1;
	#scroller {
		cursor:ew-resize;
		padding:0;
		margin-bottom: 5px;
		height: $wrapperheight;
		#timeline {
			background:#fff url(../images/bg.png);
			margin:10px;
			height:100%;
			margin-top: 0;
			margin-bottom: 0;
			overflow:hidden;
			th {
				border-left:1px solid #ccc;
				border-right:1px solid #fff;
				font:bold 18px Arial, Helvetica;
				height:30px;
				text-align:center;
				text-shadow:0 1px 0 rgba(255, 255, 255, 0.9);
				vertical-align:middle;
			}
			td {
				border-left:1px solid #ccc;
				border-right:1px solid #fff;
				vertical-align:top;
			}
		}
	}
	/***** iSCROLL *****/
	.scrollbarH {
		height:8px;
		left:7px;
		right:7px;
		position:absolute;
		z-index:-1;
		& > div {
			border:1px solid #06a;
			height:100%;
			position:absolute;
			z-index:100;
			background:#258dc8;
			@include background-gradients(top, #258dc8 0%, #258dc8 100%);
			@include background-clips(padding-box);
			@include box-sizings(border-box);
			@include rounded-corners(4px);
			@include shadows(inset 1px 1px 0 rgba(255,255,255,0.5));
		}
	}
}


/***** EVENT *****/
.event {
	border:1px solid #777;
	color:#333;
	cursor:pointer;
	display:inline-block;
	background-color:#ddd;
	@include background-gradients(top, #eee, #ccc);
	font-family:Arial, Helvetica;
	font-size:10px;
	font-weight:bold;
	line-height:12px;
	margin:0.5em;
	padding:3px 5px 4px;
	position:absolute;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	@include rounded-corners(.2em);
	@include shadows(0 0 1px 1px rgba(255,255,255,.8) inset);

	&:hover:not(.custom) {
		background-color:#eee;
		@include background-gradients(top, #fafafa, #ddd);
	}
	&:hover {
		@include shadows(none);
	}
	&:active {
		position:relative;
		top:1px;
		@include shadows(0 0 4px 2px rgba(0,0,0,.3) inset);
	}
	&:focus {
		outline:0;
		background:#fafafa;
	}
	&:before {
		background:#ccc;
		background:rgba(0,0,0,.1);
		float:left;
		width:1em;
		text-align:center;
		font-size:1.5em;
		margin:0 1em 0 -1em;
		padding:0 .2em;
		pointer-events:none;
		@include shadows(1px 0 0 rgba(0,0,0,.5));
		@include rounded-corners(.15em 0 0 .15em);
	}
	.sticky & {
		cursor:move;
	}
}
.clone {
	cursor:inherit;
}
.pin {
	background:url(../images/pin.png) no-repeat;
	display:none;
	float:right;
	position:absolute;
	right:-2px;
	top:-3px;
	height:16px;
	width:16px;
	.sticky & {
		display:block;
	}
}

/**** EVENT DETAILS *****/
.event-preview {
	display:block;
	position:absolute;
	&.sticky .event-details {
		cursor:move;
	}
	.event-details {
		background:#fff;
		border:solid 1px #ddd;
		cursor:default;
		display:none;
		line-height:1.5em;
		margin-right:80px;
		padding:3em 10px 10px;
		position:absolute;
		text-align:left;
		top:0;
		@include rounded-corners(3px);
		@include shadows(5px 5px 5px #888);
		.img {
			border:1px solid #ccc;
			float:left;
			height:60px;
			margin-right:10px;
			padding:1px;
			width:60px;
		}
		.big-img {
			@include shadows(5px 5px 5px #888);
		}
		.img-text {
			color:#666;
			font-size:11px;
			font-style:italic;
			text-align:center;
		}
	}
	&.ui-state-disabled, &.ui-widget-content &.ui-state-disabled, &.ui-widget-header &.ui-state-disabled {
		opacity: 1 !important;
	}
}


/***** TABLE *****/
.bordered {
	border:solid #ccc 1px;
	@include rounded-corners(6px);
	@include shadows(0 1px 1px #ccc);

	& > td, & > th {
		border-left:1px solid #ccc;
		border-top:1px solid #ccc;
		text-align:left;
		&:first-child { border-left:none; }
	}

	th {
		background:#eeeeee;
		@include background-gradients(top, #eeeeee 0%, #cccccc 100%);
		border-top: none;
		padding:10px;
		text-shadow:0 1px 0 rgba(255,255,255,.5);
		@include shadows(0 1px 0 rgba(255,255,255,.8) inset);
	}

	th:first-child { @include rounded-corners(6px 0 0 0); }
	th:last-child { @include rounded-corners(0 6px 0 0); }
	th:only-child{ @include rounded-corners(6px 6px 0 0); }
	tr:last-child {
		td:first-child { @include rounded-corners(0 0 0 6px); }
		td:last-child {	@include rounded-corners(0 0 6px 0); }
	}
	.hover {
		@include background-gradients(top, #cccccc 0%, #aaaaaa 100%);
	}
}


/***** BUTTON *****/
.button {
	border:1px solid #777;
	color:#666;
	cursor:pointer;
	display:inline-block;
	background-color:#ddd;
	@include background-gradients(top, #eee, #ccc);
	padding:0 0.9em;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	white-space:nowrap;
	@include rounded-corners(.2em);
	@include shadows(0 0 1px 1px rgba(255,255,255,.8) inset);

	&:hover {
		background-color:#eee;
		@include background-gradients(top, #fafafa, #ddd);
		color:#666;
	}
	&:active {
		position:relative;
		top:1px;
		@include shadows(0 0 4px 2px rgba(0,0,0,.3) inset);
	}
	&.selected {
		outline:0;
		background:#f5f5f5;
		color:#333;
	}
}


/***** MINI-MAP *****/
#map-container {
	margin:10px auto;
	position:relative;
	p {
		color:#333;
		display:inline-block;
		font-weight:bold;
		margin-right:5px;
	}
}
#mini-map {
	background:#c0c0c0;
	cursor:pointer;
	@include rounded-corners(4px);
	-moz-user-select:none;
	-khtml-user-select: none;
	#current-view {
		border:1px solid #333;
		background:none;
		margin:-2px;
		position:absolute;
		@include rounded-corners(2px);
		.line {
			background:none;
			height:100%;
			padding-left:1px;
			position:relative;
			width:50%;
		}
		&:hover {
			border:1px solid #04a;
			cursor:pointer;
			.line {
				border-right:1px solid #aaa;
			}
		}
	}
	div {
		background:#EAEAEA;
		color:#333;
		font-size:8px;
		position:absolute;
		width:100%;
		@include rounded-corners(.2em);
		-moz-user-select:none;
		-khtml-user-select: none;
		&.h1 { background: #666; }
		&.h2 { background: #999; }
		&.h3 { background: #ccc; }
		&.p { background: #F9F9F9; }
		&.span { background: #06c; }
		&.th { background: #eee; }
		&.pre { background: #0Cf; }
		
		&.hovered { background: #0cc; }
	}
}

#options {
	background: #fff;
	border-top:solid #ccc 1px;
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	text-align: center;
	padding: 5px 0 0 0;
	z-index: 2;
	div {
		display: inline-block;
		border:solid #ccc 1px;
		@include rounded-corners(6px);
		@include shadows(0 1px 1px #ccc);
		padding: 5px;
		p {
			color:#333;
			display:inline-block;
			font-weight:bold;
			margin-right:5px;
		}
		ul {
			display: inline-block;
			li {
				display:inline-block;
				padding: 5px;
				margin: 5px;
				@include rounded-corners(4px);
			}
		}
	}
}

/***** MESSAGES *****/
.message {
	display:none;
}
ul.noty_container {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 20px;
	width: 400px;
	z-index: 9999999;
	li {
		clear: both;
		float: left;
		list-style: none;
		margin: 10px 0 0 0;
		padding: 0px;
		position: relative;
	}
	&.topLeft {
		left: 20px;
		li {
			width: 400px;
		}
	}
	&.topRight {
		right: 40px;
		li {
			float: right;
			width: 400px;
		}
	}
}
.noty_bar {
	background-size:40px 40px;
	background-image:-webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	background-image:-moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	background-image:-ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	background-image:-o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	background-image:linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	border:1px solid;
	color:#fff;
	cursor:pointer;
	display: none;
	padding:15px;
	position:fixed;
	_position:absolute;
	text-shadow:0 1px 0 rgba(0,0,0,.5);
	width:100%;
	z-index: 9999999;
	@include shadows(inset 0 -1px 0 rgba(255,255,255,.4));
	@include shadows(2px 2px 3px #999);
	-webkit-background-size:40px 40px;
	-moz-background-size:40px 40px;
	-webkit-animation:animate-bg 5s linear infinite;
	-moz-animation:animate-bg 5s linear infinite;
	&.top {
		border-bottom: 3px solid #eee;
		left: 0;
		top: 0;
		width: 100%;
	}
	&.bottom {
		border-top: 3px solid #eee;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	&.center {
		border: 1px solid #eee;
		left: 19.5%;
		padding: 4px;
		top: 40%;
		width: 60%;
		@include rounded-corners(5px);
	}
	&.topLeft, &.topRight {
		border: 1px solid #eee;
		clear: both;
		padding: 4px;
		position: relative;
		width: 100%;
		@include rounded-corners(5px);
	}
	.noty_message {
		width: 96%;
		.noty_buttons {
			float: right;
			font-size: 13px;
			margin-top: -6px;
			margin-left: -25px;
			button {
				margin-left: 5px;
			}
		}
	}
	.noty_close {
		background-image: url(../images/closelabel.png);
		cursor: pointer;
		height: 20px;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 20px;
	}
	&.alert, &.debug {
		background-color: #4ea5cd;
		border-color: #3b8eb5;
	}
	&.critical {
		background-color: #ff0000;
		border-color: #c43d3d;
	}
	&.warning {
		background-color: #eaaf51;
		border-color: #d99a36;
	}
	&.error {
		background-color: #de4343;
		border-color: #c43d3d;
	}
	&.success {
		background-color: #61b832;
		border-color: #55a12c;
	}
	h3 { margin: 0 0 5px 0; }
	p { margin: 0; }
}

@-webkit-keyframes animate-bg {
	from { background-position: 0 0; }
	to { background-position: -80px 0; }
}
@-moz-keyframes animate-bg {
	from { background-position: 0 0; }
	to { background-position: -80px 0; }
}


/***** ADMIN *****/

@mixin admin-button($image) {
	background:$image;
	float:right;
	height:16px;
	padding:1px;
	width:16px;
}

.adminContent {
	padding:50px 10px;
	h2 {
		padding:5px;
	}
	input, select, textarea {
		margin:5px;
		padding:2px 3px;
	}
	p { padding:2px 5px; }
	.content { float:left; }
	.config { 
		float:right;
		ul li { 
			display: block;
			margin: 5px 0;
		}
	}
	.bordered {
		float:left;
		margin-right:20px;
		padding:5px;
	}
	.dateentry { width: 70px; }
	.eventContainer { 
		display:block;
		width: 460px;
		.event {
			margin:0;
			position:relative;
			width:400px;
		}
	}
	#eventDetails { width:440px; }
	.button {
		&.edit {
			@include admin-button(url(../images/edit.png) no-repeat center center);
		}
		&.delete {
			@include admin-button(url(../images/delete.png) no-repeat center center);
		}
	}
	table {
		width: 99%;
		.submit {
			float: right;
			width: 100px;
		}
	}
}

/***** EDITOR *****/
.cleditorMain {
	background-color: white;
	border: 1px solid #999;
	padding: 0 1px 1px;
	iframe {
		border: none;
		margin: 0;
		padding: 0;
	}
	textarea {
		border: none;
		font: 10pt Arial,Verdana;
		margin: 0;
		outline: none; /* webkit grip focus */
		overflow-y: scroll;
		padding: 0;
		resize: none;
	}
}
.cleditorToolbar {
	background: url(../images/toolbar.gif);
}
.cleditorGroup {
	float: left;
	height: 26px;
}
.cleditorButton {
	background: url(../images/buttons.gif);
	float: left;
	height: 24px;
	margin: 1px 0 1px 0;
	width: 24px;
}
.cleditorDisabled {
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.cleditorDivider {
	background: #ccc;
	float: left;
	height: 23px;
	margin: 1px 0 1px 0;
	width: 1px;
}
.cleditorPopup {
	border: solid 1px #999;
	background-color: white;
	cursor: default;
	font: 10pt Arial,Verdana;
	position: absolute;
	z-index: 10000;
}
.cleditorList {
	div {
		padding: 2px 4px 2px 4px;
	}
	p, h1, h2, h3, h4, h5, h6, font {
		background-color: transparent;
		margin: 0;
		padding: 0;
	}
}
.cleditorColor {
	padding: 1px 0 0 1px;
	width: 150px;
	div {
		float: left;
		height: 14px;
		margin: 0 1px 1px 0;
		width: 14px;
	}
}
.cleditorPrompt {
	background-color: #F6F7F9;
	padding: 4px;
	font-size: 8.5pt;
	input, textarea {
		font: 8.5pt Arial,Verdana;
	}
}
.cleditorMsg {
	background-color: #FDFCEE;
	font-size: 8.5pt;
	padding: 4px;
	width: 150px;
}
