
@import "_mixins.scss";


/***** GENERAL *****/
* {
	margin:0;
	padding:0;
}
body {
	background-color:#fff;
	color:#000;
	font-family:Arial;
	font-size:12px;
}
a {
	color:#000;
	outline:none;
	text-decoration:none;
	@include transitions(0.5s);
	&:hover, &.selected { color:#06a; }
}
blockquote {
	display:block;
	font-size:17px;
	font-style:italic;
	line-height:24px;
	margin-left:5%;
	quotes:"\201C" "\201D";
	width:90%;
	&:before, &:after {
		color:#999;
		display:block;
		font-size:400%;
	}
	&:before {
		content:open-quote;
		margin-left:-5%;
		position:relative;
		top:15px;
	}
	&:after {
		content:close-quote;
		margin-left:100%;
		position:relative;
		right:5px;
		top:15px;
	}
}
h1 {
	margin-bottom:5px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.9);
}
a {
	color: #06e;
}
table {
	*border-collapse: collapse;
	border-spacing: 0;
	td {
		border: none;
	}
}


/***** PAGE *****/
#page {
	overflow:hidden;
	position:absolute;
	height:100%;
	width:100%;
}

/***** TIMELINE *****/
$wrapperheight: 300px;
#wrapper {
	bottom:0;
	height: 100%;
	left:0;
	overflow:auto;
	position:absolute;
	top:110px;
	width:100%;
	z-index:1;
	#scroller {
		cursor:ew-resize;
		padding:0;
		margin-bottom: 5px;
		height: $wrapperheight;
		#timeline {
			background:#fff url(../images/bg.png);
			margin:10px;
			height:100%;
			margin-top: 0;
			margin-bottom: 0;
			overflow:hidden;
			th {
				border-left:1px solid #ccc;
				border-right:1px solid #fff;
				font-size: 18px;
				font-weight: bold;
				height:30px;
				text-align:center;
				text-shadow:0 1px 0 rgba(255, 255, 255, 0.9);
				vertical-align:middle;
				&.hover { @include background-gradients(top, #cccccc 0%, #aaaaaa 100%); }
			}
			td {
				border-left:1px solid #ccc;
				border-right:1px solid #fff;
				vertical-align:top;
			}
		}
	}
	/***** iSCROLL *****/
	.scrollbarH {
		height:8px;
		left:7px;
		right:7px;
		position:absolute;
		z-index:-1;
		& > div {
			border:1px solid #06a;
			height:100%;
			position:absolute;
			z-index:100;
			background:#258dc8;
			@include background-gradients(top, #258dc8 0%, #258dc8 100%);
			@include background-clips(padding-box);
			@include box-sizings(border-box);
			@include rounded-corners(4px);
			@include shadows(inset 1px 1px 0 rgba(255,255,255,0.5));
		}
	}
}


/***** EVENT *****/
.event {
	border:1px solid #777;
	color:#333;
	cursor:pointer;
	display:inline-block;
	background-color:#ddd;
	@include background-gradients(top, #eee, #ccc);
	font-size:10px;
	font-weight:bold;
	line-height:12px;
	margin:5px;
	padding:3px 5px 4px;
	position:absolute;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	@include rounded-corners(.2em);
	@include shadows(0 0 1px 1px rgba(255,255,255,.8) inset);

	&:hover:not(.custom) {
		background-color:#eee;
		@include background-gradients(top, #fafafa, #ddd);
	}
	&:hover {
		@include shadows(none);
	}
	&:active {
		position:relative;
		top:1px;
		@include shadows(0 0 4px 2px rgba(0,0,0,.3) inset);
	}
	&:focus {
		outline:0;
		background:#fafafa;
	}
	&:before {
		background:#ccc;
		background:rgba(0,0,0,.1);
		float:left;
		width:1em;
		text-align:center;
		font-size:1.5em;
		margin:0 1em 0 -1em;
		padding:0 .2em;
		pointer-events:none;
		@include shadows(1px 0 0 rgba(0,0,0,.5));
		@include rounded-corners(.15em 0 0 .15em);
	}
	.title {
		display: inline-block;
		position: relative;
	}
}
.clone {
	cursor:inherit;
}
.pin {
	background:url(../images/pin.png) no-repeat;
	display:none;
	float:right;
	position:absolute;
	right:-2px;
	top:-3px;
	height:16px;
	width:16px;
	.sticky & {
		display:block;
	}
}

/**** EVENT DETAILS *****/
.event-preview {
	display:block;
	position:absolute;
	&.sticky .event-details {
		cursor:move;
		@include shadows(0 0 20px #000);
	}
	.event-details {
		background:#fff;
		border:solid 1px #ddd;
		cursor:default;
		display:none;
		line-height:1.5em;
		padding:10px;
		position:absolute;
		text-align:left;
		top:0;
		width:600px;
		column-width: 300px;
		-moz-column-width: 300px;
		-webkit-column-width: 300px;
		text-align: justify;
		@include rounded-corners(3px);
		@include shadows(5px 5px 5px #888);
		p .img {
			clear: both;
			margin: 10px 30px;
		}
		.img {
			border:1px solid #ccc;
			float:left;
			margin-right:10px;
			padding:1px;
		}
		.big-img {
			text-align:center;
		}
		.img-text {
			color:#666;
			font-size:11px;
			font-style:italic;
			text-align:center;
		}
		.source {
			clear: both;
			display: none;
			padding-top: 10px;
		}
		.time {
			font-size: 14px;
			font-weight: bold;
			line-height: 30px;
		}
		.video_overlay {
			background: url('../images/video.png') no-repeat;
			display: inline-block;
			float: left;
			height: 48px;
			left: 85px;
			position: absolute;
			top: 100px;
			width: 48px;
			@include rounded-corners(6px);
			@include shadows(0 0 5px #fff);
		}
		a {
			font-weight: bold;
		}
		a.video:hover span {
			@include shadows(0 0 15px #fff);
		}
		a.extern {
			background: url('../images/extern.png') no-repeat 5px center;
			font-weight: normal;
			padding-left: 20px;
		}
		a.back {
			background: url("../images/left.png") no-repeat;
			cursor: pointer;
			float: right;
			height: 32px;
			width: 32px;
		}
	}
	&.ui-state-disabled, &.ui-widget-content &.ui-state-disabled, &.ui-widget-header &.ui-state-disabled {
		opacity: 1 !important;
	}
}


/***** TABLE *****/
.bordered {
	border:solid #ccc 1px;
	*border-collapse: collapse;
	border-spacing: 0;
	@include rounded-corners(6px);
	@include shadows(0 1px 1px #ccc);

	tr:nth-child(even) {
		background: #f5f5f5;
		@include shadows(0 1px 0 rgba(255,255,255,.8) inset);
	}
	td, th {
		border-left:1px solid #ccc;
		border-top:1px solid #ccc;
		padding: 10px;
		text-align:left;
		&:first-child {
			border-left:none;
		}
	}
	th {
		background:#eeeeee;
		@include background-gradients(top, #eeeeee 0%, #cccccc 100%);
		border-top: none;
		padding:10px;
		text-shadow:0 1px 0 rgba(255,255,255,.5);
		@include shadows(0 1px 0 rgba(255,255,255,.8) inset);
		&:first-child {	@include rounded-corners(6px 0 0 0); }
		&:last-child {	@include rounded-corners(0 6px 0 0); }
		&:only-child {	@include rounded-corners(6px 6px 0 0); }
	}
	td {
		padding: 3px 5px;
	}
	tr:last-child {
		td:first-child { @include rounded-corners(0 0 0 6px); }
		td:last-child {	@include rounded-corners(0 0 6px 0); }
	}
}


/***** BUTTON *****/
.button {
	color:#666;
	background-color:#ddd;
	@include background-gradients(top, #eee, #ccc);
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	white-space:nowrap;
	@include shadows(0 0 1px 1px rgba(255,255,255,.8) inset);

	&:hover {
		background-color:#eee;
		@include background-gradients(top, #fafafa, #ddd);
		color:#666;
	}
	&.selected {
		outline:0;
		background:#f5f5f5;
		color:#333;
	}
}


/***** MINI-MAP *****/
#map-container {
	margin:10px auto;
	position:relative;
	p {
		color:#333;
		display:inline-block;
		font-weight:bold;
		margin-right:5px;
	}
}
#mini-map {
	background:#c0c0c0;
	cursor:pointer;
	@include rounded-corners(4px);
	-moz-user-select:none;
	-khtml-user-select: none;
	#current-view {
		border:1px solid #333;
		background:none;
		margin:-2px;
		position:absolute;
		@include rounded-corners(2px);
		@include shadows(0 0 4px 2px rgba(0,0,0,.3));
		.line {
			background:none;
			height:100%;
			padding-left:1px;
			position:relative;
			width:50%;
		}
		&:hover {
			border:2px solid #000;
			cursor:pointer;
			.line {
				border-right:1px solid #aaa;
			}
		}
	}
	div {
		background:#EAEAEA;
		color:#333;
		font-size:8px;
		position:absolute;
		width:100%;
		@include rounded-corners(.2em);
		-moz-user-select:none;
		-khtml-user-select: none;
		&.span { background: #06c; }
		&.th { background: #eee; }
		
		&.hovered { background: #0cc; }
	}
}

/***** OPTIONS *****/
#options {
	background: #fff;
	border-top:solid #ccc 1px;
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	text-align: center;
	padding: 5px 0;
	z-index: 2;
	div {
		display: inline-block;
		border:solid #ccc 1px;
		@include rounded-corners(6px);
		@include shadows(0 1px 1px #ccc);
		margin: 0 2px;
		padding: 0 5px;
		vertical-align: middle;
		p {
			color:#333;
			display:inline-block;
			font-weight:bold;
			margin-right:5px;
		}
		ul {
			display: inline-block;
			li {
				border:1px solid #777;
				cursor: pointer;
				display: inline-block;
				opacity: 0.5;
				padding: 5px;
				margin: 5px;
				@include rounded-corners(4px);
				
				&.selected {
					font-weight: bold;
					opacity: 1;
				}
				&:not(.selected) {
					font-weight: normal;
				}
			}
		}
	}
	.toggle {
		cursor: pointer;
		display: inline-block;
		margin: 5px 2px 1px;
		vertical-align: middle;
		.switch {
			background: url('../images/switch.png') no-repeat;
			display: inline-block;
		}
	}
}
