/*** mixins ***/
/***** GENERAL *****/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: #000;
  font-family: Arial;
  font-size: 12px; }

a {
  color: #000;
  outline: none;
  text-decoration: none;
  transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s; }
  a:hover, a.selected {
    color: #06a; }

blockquote {
  display: block;
  font-size: 17px;
  font-style: italic;
  line-height: 24px;
  margin-left: 5%;
  quotes: "\201C" "\201D";
  width: 90%; }
  blockquote:before, blockquote:after {
    color: #999;
    display: block;
    font-size: 400%; }
  blockquote:before {
    content: open-quote;
    margin-left: -5%;
    position: relative;
    top: 15px; }
  blockquote:after {
    content: close-quote;
    margin-left: 100%;
    position: relative;
    right: 5px;
    top: 15px; }

h1 {
  margin-bottom: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9); }

input {
  width: 350px; }

table {
  *border-collapse: collapse;
  border-spacing: 0; }
  table td {
    border: none; }

/***** PAGE *****/
#page {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%; }

/***** TIMELINE *****/
#wrapper {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 80px;
  width: 100%;
  z-index: 1;
  /***** iSCROLL *****/ }
  #wrapper #scroller {
    cursor: ew-resize;
    padding: 0;
    margin-bottom: 5px;
    height: 300px; }
    #wrapper #scroller #timeline {
      background: white url(../images/bg.png);
      margin: 10px;
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
      overflow: hidden; }
      #wrapper #scroller #timeline th {
        border-left: 1px solid #ccc;
        border-right: 1px solid #fff;
        font: bold 18px Arial, Helvetica;
        height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
        vertical-align: middle; }
      #wrapper #scroller #timeline td {
        border-left: 1px solid #ccc;
        border-right: 1px solid #fff;
        vertical-align: top; }
  #wrapper .scrollbarH {
    height: 8px;
    left: 7px;
    right: 7px;
    position: absolute;
    z-index: -1; }
    #wrapper .scrollbarH > div {
      border: 1px solid #06a;
      height: 100%;
      position: absolute;
      z-index: 100;
      background: #258dc8;
      background-image: linear-gradient(top, #258dc8 0%, #258dc8 100%);
      background-image: -o-linear-gradient(top, #258dc8 0%, #258dc8 100%);
      background-image: -ms-linear-gradient(top, #258dc8 0%, #258dc8 100%);
      background-image: -moz-linear-gradient(top, #258dc8 0%, #258dc8 100%);
      background-image: -webkit-linear-gradient(top, #258dc8 0%, #258dc8 100%);
      background-clip: padding-box;
      -o-background-clip: padding-box;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-radius: 4px;
      -o-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
      -o-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
      -moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
      -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5); }

/***** EVENT *****/
.event {
  border: 1px solid #777;
  color: #333;
  cursor: pointer;
  display: inline-block;
  background-color: #ddd;
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  font-family: Arial, Helvetica;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  margin: 5px;
  padding: 3px 5px 4px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -o-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset; }
  .event:hover:not(.custom) {
    background-color: #eee;
    background-image: linear-gradient(top, #fafafa, #dddddd);
    background-image: -o-linear-gradient(top, #fafafa, #dddddd);
    background-image: -ms-linear-gradient(top, #fafafa, #dddddd);
    background-image: -moz-linear-gradient(top, #fafafa, #dddddd);
    background-image: -webkit-linear-gradient(top, #fafafa, #dddddd); }
  .event:hover {
    box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  .event:active {
    position: relative;
    top: 1px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset;
    -o-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset; }
  .event:focus {
    outline: 0;
    background: #fafafa; }
  .event:before {
    background: #ccc;
    background: rgba(0, 0, 0, 0.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    pointer-events: none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.15em 0 0 0.15em;
    -o-border-radius: 0.15em 0 0 0.15em;
    -moz-border-radius: 0.15em 0 0 0.15em;
    -webkit-border-radius: 0.15em 0 0 0.15em; }

.clone {
  cursor: inherit; }

.pin {
  background: url(../images/pin.png) no-repeat;
  display: none;
  float: right;
  position: absolute;
  right: -2px;
  top: -3px;
  height: 16px;
  width: 16px; }
  .sticky .pin {
    display: block; }

/**** EVENT DETAILS *****/
.event-preview {
  display: block;
  position: absolute; }
  .event-preview.sticky .event-details {
    cursor: move;
    box-shadow: 0 0 20px black;
    -o-box-shadow: 0 0 20px black;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black; }
  .event-preview .event-details {
    background: #fff;
    border: solid 1px #ddd;
    cursor: default;
    display: none;
    line-height: 1.5em;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 600px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 5px 5px 5px #888888;
    -o-box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
    -webkit-box-shadow: 5px 5px 5px #888888; }
    .event-preview .event-details .img {
      border: 1px solid #ccc;
      float: left;
      margin-right: 10px;
      padding: 1px; }
    .event-preview .event-details .big-img {
      text-align: center; }
    .event-preview .event-details .img-text {
      color: #666;
      font-size: 11px;
      font-style: italic;
      text-align: center; }
    .event-preview .event-details .time {
      font-size: 14px;
      font-weight: bold;
      line-height: 30px; }
    .event-preview .event-details a.back {
      background: url("../images/left.png") no-repeat;
      cursor: pointer;
      float: right;
      height: 32px;
      width: 32px; }
  .event-preview.ui-state-disabled, .event-preview.ui-widget-content .event-preview.ui-state-disabled, .event-preview.ui-widget-header .event-preview.ui-state-disabled {
    opacity: 1 !important; }

/***** TABLE *****/
.bordered {
  border: solid #ccc 1px;
  *border-collapse: collapse;
  border-spacing: 0;
  border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 1px 1px #cccccc;
  -o-box-shadow: 0 1px 1px #cccccc;
  -moz-box-shadow: 0 1px 1px #cccccc;
  -webkit-box-shadow: 0 1px 1px #cccccc; }
  .bordered tr:nth-child(even) {
    background: #f5f5f5;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset; }
  .bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left; }
    .bordered td:first-child, .bordered th:first-child {
      border-left: none; }
  .bordered th {
    background: #eeeeee;
    background-image: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background-image: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background-image: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    border-top: none;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset; }
    .bordered th:first-child {
      border-radius: 6px 0 0 0;
      -o-border-radius: 6px 0 0 0;
      -moz-border-radius: 6px 0 0 0;
      -webkit-border-radius: 6px 0 0 0; }
    .bordered th:last-child {
      border-radius: 0 6px 0 0;
      -o-border-radius: 0 6px 0 0;
      -moz-border-radius: 0 6px 0 0;
      -webkit-border-radius: 0 6px 0 0; }
    .bordered th:only-child {
      border-radius: 6px 6px 0 0;
      -o-border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0;
      -webkit-border-radius: 6px 6px 0 0; }
  .bordered td {
    padding: 3px 5px; }
  .bordered tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
    -o-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px; }
  .bordered tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
    -o-border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0; }

/***** BUTTON *****/
.button {
  border: 1px solid #777;
  color: #666;
  cursor: pointer;
  display: inline-block;
  background-color: #ddd;
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  padding: 0 0.9em;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -o-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset; }
  .button:hover {
    background-color: #eee;
    background-image: linear-gradient(top, #fafafa, #dddddd);
    background-image: -o-linear-gradient(top, #fafafa, #dddddd);
    background-image: -ms-linear-gradient(top, #fafafa, #dddddd);
    background-image: -moz-linear-gradient(top, #fafafa, #dddddd);
    background-image: -webkit-linear-gradient(top, #fafafa, #dddddd);
    color: #666; }
  .button:active {
    position: relative;
    top: 1px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset;
    -o-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset; }
  .button.selected {
    outline: 0;
    background: #f5f5f5;
    color: #333; }

/***** MINI-MAP *****/
#map-container {
  margin: 10px auto;
  position: relative; }
  #map-container p {
    color: #333;
    display: inline-block;
    font-weight: bold;
    margin-right: 5px; }

#mini-map {
  background: #c0c0c0;
  cursor: pointer;
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-user-select: none;
  -khtml-user-select: none; }
  #mini-map #current-view {
    border: 1px solid #333;
    background: none;
    margin: -2px;
    position: absolute;
    border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
    #mini-map #current-view .line {
      background: none;
      height: 100%;
      padding-left: 1px;
      position: relative;
      width: 50%; }
    #mini-map #current-view:hover {
      border: 1px solid #04a;
      cursor: pointer; }
      #mini-map #current-view:hover .line {
        border-right: 1px solid #aaa; }
  #mini-map div {
    background: #EAEAEA;
    color: #333;
    font-size: 8px;
    position: absolute;
    width: 100%;
    border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-user-select: none;
    -khtml-user-select: none; }
    #mini-map div.h1 {
      background: #666; }
    #mini-map div.h2 {
      background: #999; }
    #mini-map div.h3 {
      background: #ccc; }
    #mini-map div.p {
      background: #F9F9F9; }
    #mini-map div.span {
      background: #06c; }
    #mini-map div.th {
      background: #eee; }
    #mini-map div.pre {
      background: #0Cf; }
    #mini-map div.hovered {
      background: #0cc; }

#options {
  background: #fff;
  border-top: solid #ccc 1px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  z-index: 2; }
  #options div {
    display: inline-block;
    border: solid #ccc 1px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 1px 1px #cccccc;
    -o-box-shadow: 0 1px 1px #cccccc;
    -moz-box-shadow: 0 1px 1px #cccccc;
    -webkit-box-shadow: 0 1px 1px #cccccc;
    margin: 0 2px;
    padding: 0 5px; }
    #options div p {
      color: #333;
      display: inline-block;
      font-weight: bold;
      margin-right: 5px; }
    #options div ul {
      display: inline-block; }
      #options div ul li {
        cursor: pointer;
        display: inline-block;
        opacity: 0.5;
        padding: 5px;
        margin: 5px;
        border-radius: 4px;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px; }
        #options div ul li.selected {
          font-weight: bold;
          opacity: 1; }
        #options div ul li:not(.selected) {
          font-weight: normal; }

/***** MESSAGES *****/
.message {
  display: none; }

ul.noty_container {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 20px;
  width: 400px;
  z-index: 9999999; }
  ul.noty_container li {
    clear: both;
    float: left;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0px;
    position: relative; }
  ul.noty_container.topLeft {
    left: 20px; }
    ul.noty_container.topLeft li {
      width: 400px; }
  ul.noty_container.topRight {
    right: 40px; }
    ul.noty_container.topRight li {
      float: right;
      width: 400px; }

.noty_bar {
  background-size: 40px 40px;
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  border: 1px solid;
  color: #fff;
  cursor: pointer;
  display: none;
  padding: 15px;
  position: fixed;
  _position: absolute;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 9999999;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  -o-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 3px #999999;
  -o-box-shadow: 2px 2px 3px #999999;
  -moz-box-shadow: 2px 2px 3px #999999;
  -webkit-box-shadow: 2px 2px 3px #999999;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -webkit-animation: animate-bg 5s linear infinite;
  -moz-animation: animate-bg 5s linear infinite; }
  .noty_bar.top {
    border-bottom: 3px solid #eee;
    left: 0;
    top: 0;
    width: 100%; }
  .noty_bar.bottom {
    border-top: 3px solid #eee;
    bottom: 0;
    left: 0;
    width: 100%; }
  .noty_bar.center {
    border: 1px solid #eee;
    left: 19.5%;
    padding: 4px;
    top: 40%;
    width: 60%;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  .noty_bar.topLeft, .noty_bar.topRight {
    border: 1px solid #eee;
    clear: both;
    padding: 4px;
    position: relative;
    width: 100%;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  .noty_bar .noty_message {
    width: 96%; }
    .noty_bar .noty_message .noty_buttons {
      float: right;
      font-size: 13px;
      margin-top: -6px;
      margin-left: -25px; }
      .noty_bar .noty_message .noty_buttons button {
        margin-left: 5px; }
  .noty_bar .noty_close {
    background-image: url(../images/closelabel.png);
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px; }
  .noty_bar.alert, .noty_bar.debug {
    background-color: #4ea5cd;
    border-color: #3b8eb5; }
  .noty_bar.critical {
    background-color: #ff0000;
    border-color: #c43d3d; }
  .noty_bar.warning {
    background-color: #eaaf51;
    border-color: #d99a36; }
  .noty_bar.error {
    background-color: #de4343;
    border-color: #c43d3d; }
  .noty_bar.success {
    background-color: #61b832;
    border-color: #55a12c; }
  .noty_bar h3 {
    margin: 0 0 5px 0; }
  .noty_bar p {
    margin: 0; }

@-webkit-keyframes animate-bg {
  from {
    background-position: 0 0; }

  to {
    background-position: -80px 0; } }

@-moz-keyframes animate-bg {
  from {
    background-position: 0 0; }

  to {
    background-position: -80px 0; } }

/***** ADMIN *****/
.adminContent {
  padding: 20px; }
  .adminContent h2 {
    padding: 5px; }
  .adminContent ul li {
    display: block;
    margin: 5px 0; }
  .adminContent .button {
    color: #000;
    padding: 3px 5px; }
  .adminContent .config {
    float: right; }
  .adminContent .events {
    float: left; }
  .adminContent .eventList {
    margin: 10px 0;
    width: 500px; }
    .adminContent .eventList .button.show {
      background: url(../images/show.png) no-repeat center center;
      height: 16px;
      padding: 1px;
      width: 16px; }
    .adminContent .eventList .button.edit {
      background: url(../images/edit.png) no-repeat center center;
      height: 16px;
      padding: 1px;
      width: 16px; }
    .adminContent .eventList .button.delete {
      background: url(../images/delete.png) no-repeat center center;
      height: 16px;
      padding: 1px;
      width: 16px; }

.adminForm input, .adminForm select, .adminForm textarea {
  margin: 5px;
  padding: 2px 3px; }
.adminForm textarea {
  height: 50px;
  width: 90%; }
.adminForm p {
  padding: 2px 5px; }
.adminForm .dateentry {
  width: 70px; }

/***** FANCY BOX *****/
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none; }
  #fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url("../images/fancybox/fancybox.png"); }

#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none; }

#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none; }

#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none; }

#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff; }

#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101; }

#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url("../images/fancybox/fancybox.png") -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none; }

#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0; }

#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top; }

#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block; }

#fancybox-left, #fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url("../images/fancybox/blank.gif");
  z-index: 1102;
  display: none; }

#fancybox-left {
  left: 0px; }

#fancybox-right {
  right: 0px; }

#fancybox-left-ico, #fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block; }

#fancybox-left-ico {
  background-image: url("../images/fancybox/fancybox.png");
  background-position: -40px -30px; }

#fancybox-right-ico {
  background-image: url("../images/fancybox/fancybox.png");
  background-position: -40px -60px; }

#fancybox-left:hover, #fancybox-right:hover {
  visibility: visible;
  /* IE6 */ }

#fancybox-left:hover span {
  left: 20px; }

#fancybox-right:hover span {
  left: auto;
  right: 20px; }

.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001; }

#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url("../images/fancybox/fancybox-x.png"); }

#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url("../images/fancybox/fancybox.png");
  background-position: -40px -162px; }

#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url("../images/fancybox/fancybox-y.png");
  background-position: -20px 0px; }

#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url("../images/fancybox/fancybox.png");
  background-position: -40px -182px; }

#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url("../images/fancybox/fancybox-x.png");
  background-position: 0px -20px; }

#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url("../images/fancybox/fancybox.png");
  background-position: -40px -142px; }

#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url("../images/fancybox/fancybox-y.png"); }

#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url("../images/fancybox/fancybox.png");
  background-position: -40px -122px; }

#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102; }

.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative; }

.fancybox-title-outside {
  padding-top: 10px;
  color: #fff; }

.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left; }

#fancybox-title-over {
  padding: 10px;
  background-image: url("../images/fancybox/fancy_title_over.png");
  display: block; }

.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px; }

#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto; }

#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap; }

#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url("../images/fancybox/fancybox.png") -40px -90px no-repeat; }

#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url("../images/fancybox/fancybox-x.png") 0px -40px; }

#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url("../images/fancybox/fancybox.png") -55px -90px no-repeat; }

/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg {
  background: transparent !important; }

.fancybox-ie #fancybox-bg-n {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-ne {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-e {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-se {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-s {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-sw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-w {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-nw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }

/***** EDITOR *****/
.cleditorMain {
  background-color: white;
  border: 1px solid #999;
  padding: 0 1px 1px; }
  .cleditorMain iframe {
    border: none;
    margin: 0;
    padding: 0; }
  .cleditorMain textarea {
    border: none;
    font: 10pt Arial,Verdana;
    margin: 0;
    outline: none;
    /* webkit grip focus */
    overflow-y: scroll;
    padding: 0;
    resize: none; }

.cleditorToolbar {
  background: url(../images/toolbar.gif); }

.cleditorGroup {
  float: left;
  height: 26px; }

.cleditorButton {
  background: url(../images/buttons.gif);
  float: left;
  height: 24px;
  margin: 1px 0 1px 0;
  width: 24px; }

.cleditorDisabled {
  filter: alpha(opacity=30);
  opacity: 0.3; }

.cleditorDivider {
  background: #ccc;
  float: left;
  height: 23px;
  margin: 1px 0 1px 0;
  width: 1px; }

.cleditorPopup {
  border: solid 1px #999;
  background-color: white;
  cursor: default;
  font: 10pt Arial,Verdana;
  position: absolute;
  z-index: 10000; }

.cleditorList div {
  padding: 2px 4px 2px 4px; }
.cleditorList p, .cleditorList h1, .cleditorList h2, .cleditorList h3, .cleditorList h4, .cleditorList h5, .cleditorList h6, .cleditorList font {
  background-color: transparent;
  margin: 0;
  padding: 0; }

.cleditorColor {
  padding: 1px 0 0 1px;
  width: 150px; }
  .cleditorColor div {
    float: left;
    height: 14px;
    margin: 0 1px 1px 0;
    width: 14px; }

.cleditorPrompt {
  background-color: #F6F7F9;
  padding: 4px;
  font-size: 8.5pt; }
  .cleditorPrompt input, .cleditorPrompt textarea {
    font: 8.5pt Arial,Verdana; }

.cleditorMsg {
  background-color: #FDFCEE;
  font-size: 8.5pt;
  padding: 4px;
  width: 150px; }
